body{
 
  background-image: url("https://www.freegreatpicture.com/files/147/8964-background-color.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}
.t1{

  text-align: center;
  width:  600px;
  height: 300px;
  margin-top: 100px;
  

}

.t2{

  width: 600px;
  height: 600px;

}


.top{

  margin-left: 250px;
}

.displayed{

 float: left;
}

hr.one{

  border-top: 20px dotted white;

}